# Compiled Object files
*.slo
*.lo
*.o

*.opensdf
*.sdf
*.suo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

JoinyGenerator/*.ad
JoinyGenerator/release
Resources
build
bin
gen
obj
*.local.bat
*.user
Makefile
Makefile.*

Thumbs.db
*.keystore
*.psd
*.__mk

local.properties
*.user
*.user.*
debug
*.pdb
*.apk

proj.androi*/*
__pycache__
environment.py


proj.ios/Resources/

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside


documentation/html
documentation/latex
*.pyc

!proj.wp*/wp8/HelloCpp/HelloCpp/Resources
